* {
    font-family: RobotoMono Nerd Font;
    font-size: 14px; 
    font-weight: bold;
    min-height: 0;
    border-radius: 10px;
    box-shadow: none;
}

menu {
    border-radius: 10px;
    color: #3c3836;
    background: #fbf1c7;
}

menuitem {
    border-radius: 10px;
}

#custom-button {
    color: #3c3836;
    background: #fbf1c7;
    margin-right: 5px;
}

window#waybar {
    background: transparent;
    /* background: rgba(0xfb,0xf1,0xc7,0.2); */
}

window#waybar.hidden {
    opacity: 0.2;
}

#workspaces {
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 10px;
    transition: none;
    background: #fbf1c7;
}

#workspaces button {
    color: #928374;
    transition: none;
    background: transparent;
    padding-right: 10px;
    padding-left: 10px;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    transition: none;
    box-shadow: inherit;
    text-shadow: inherit;
    border-radius: inherit;
    color: #3c3836;
    background: #f9f5d7;
}

#workspaces button.urgent {
    color: #fbf1c7;
    background: #fe8019;
    border-radius: inherit;
}

#workspaces button.active {
    color: #fe8019;
    background: #fbf1c7;
    border-radius: inherit;
}

#language,
#clock,
tooltip,
#temperature,
#memory,
#pulseaudio {
    border-radius: 10px;
    margin-right: 5px;
    margin-left: 5px;
    transition: none;
    color: #3c3836;
    background: #fbf1c7;
}

#tray {
    border-radius: 10px 10px 10px 10px;
    margin-left: 5px;
    transition: none;
    color: #3c3836;
    background: #fbf1c7;
    padding-right: 10px;
    padding-left: 10px;
}

